.app {
  background-image: linear-gradient(#E2EBFF, #FFFFC5);
  font-family: "Lucida Console", "Courier New", monospace;
  height: 100vh;
  overflow-y: scroll;
}

.inner-container {
  padding: 2%;
}

.app-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header {
  margin: 0;
}

.app-header-right {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}

.nav-link {
  text-decoration: underline;
  color: black;
}

.result-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  padding: 20px;
}

.result-item {
  background-color: #fefbe6;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid lightcyan;
  border-radius: 20px;
}

.result-table-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.result-table-container {
  width: 100%;
  border-collapse: collapse; 
  table-layout: fixed;
}

.table-header {
  background-color: lightgray;
  width: 100%;
}

.table-row-correct {
  background-color: #E5FFD8
}

.table-row-wrong {
  background-color: #FFEAEB;
}

.limitation-section {
  margin: 0 4%;
}